*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'poppins',sans-serif; 
}

body{
   background-color:#005959;
   color: #fff;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 30px;
    background-color: #005959;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideToRight 1s ease forwards;
}

@keyframes slideToRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
    transform: translateX(60px);
    opacity: 1;
    }
}

.navbar a{
    display: inline-block;
    font-size: 25px;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    margin-left: 35px;
    opacity: 0;
    animation: slideToTop .7s ease forwards;
}

@keyframes slideToTop{
    0%{
        transform: translateY(100px);
        opacity: 0px;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.navbar a:hover{
    color: #0ef;
}

.home{
    position:relative ;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding: 70px 10% 0;
    
}

.home-content{
    max-width: 600px;
    color: #fff;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    animation: slideH3 .7s ease forwards;
}

@keyframes slideH3{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
    transform: translateX(0px);
    opacity: 1;
    }
}




.home-content h1{
    font-size: 56px;
    font-weight: 700px;
    margin: -3px 0;
    opacity: 0;
    animation: slideH1 1s ease forwards;
}
@keyframes slideH1{
    0%{
        transform: translatey(100px);
        opacity: 0;
    }
    100%{
    transform: translatey(0px);
    opacity: 1;
    }
}


.image-sectin img {
    max-width: 630px;
    height: auto;
    width: 100%;
}


.home-content p{
    font-size: 20px;
}
.home-content span{
    color: #0ef;
}

.home-content h3:nth-of-type(1){
    margin-bottom: 30px;
}

.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    text-decoration: none;
    background: transparent;
    color: #0ef;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    margin: 30px 15px 30px 0;
    animation: slideIcon .7s ease forwards;
}

@keyframes slideIcon{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
    transform: translatey(0px);
    opacity: 1;
    }
}


.home-sci a:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0px 20px #0ef;
}


.btn-box{
       display: inline-block;
       padding: 12px 28px;
       background: #0ef;
       border-radius: 40px;
       font-size: 16px;
       text-decoration: none;
       color: #081b29;
       font-weight: 600;
       letter-spacing: 1px;
}


.btn-box:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan
    
}

.about{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding: 70px 10% 0;
    
}

.about img {
    max-width: 630px;
    height: auto;
    width: 100%;
}

.about-text h2{
    font-size: 50px;
}

.about-text h2 span{
    color: #0ef;
}

.about-text h4{
    margin-bottom: 1rem
}

.about-text p{
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 4rem;
}